<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <div class="flex items-center px-4">
      <i class="pi pi-shopping-bag text-2xl text-primary mr-2"></i>
      <span class="text-xl font-bold text-gray-900 cursor-pointer" routerLink="/">Artisan Bazaar</span>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex items-center gap-2">
      <!-- Language Selector -->
      <p-button
        icon="pi pi-globe"
        styleClass="p-button-outlined p-button-rounded mr-2"
        title="Langue: Français">
      </p-button>

      <!-- Authentication Buttons -->
      <ng-container *ngIf="!authService.isLoggedIn(); else loggedInMenu">
        <p-button
            label="Connexion"
            icon="pi pi-sign-in"
            routerLink="/login"
            styleClass="p-button-outlined mr-2">
          </p-button>
          <p-button
            label="S'inscrire"
            icon="pi pi-user-plus"
            routerLink="/register"
            styleClass="p-button-primary">
          </p-button>
      </ng-container>

      <!-- Logged in user menu -->
      <ng-template #loggedInMenu>
        <p-avatar
          *ngIf="authService.getCurrentUser()"
          [label]="getUserInitials()"
          styleClass="mr-2"
          size="normal"
          shape="circle">
        </p-avatar>

        <p-menu #userMenu [model]="userMenuItems" [popup]="true" styleClass="mr-2"></p-menu>
        <p-button
          icon="pi pi-bars"
          (click)="userMenu.toggle($event)"
          styleClass="p-button-outlined">
        </p-button>
      </ng-template>
    </div>
  </ng-template>
</p-menubar>

<!-- Cart Component -->
<app-cart></app-cart>